* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.left-side img{
    max-height: 100vh;
}

.right-side {
    padding-left: 50px;
    padding-right: 150px;
}