* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.left-side img{
    max-height: 100vh;
}

.right-side {
    padding-left: 50px;
    padding-right: 150px;
}

.input-pair {
    display: flex;
    flex-direction: column;
}

.form-row-1,
.form-row-2,
.form-row-3 {
    display: flex;
}